<!--Load Modal-->
<div id="loadModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <div class="modal-body bg-dark text-light">
                <p class="lead">Esta función está en fase de prueba, los cambios no se verán igual que en la pantalla. La página reiniciará al completar la descarga.</p>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>